* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #e9e9e9;
  padding-top: 160px;
}

body {
  background: url('./photoes/darknoise.png');
  height: 5000px;
}

.home {
  padding: 0px 30px;
}
